USE [master]
GO
/****** Object:  Database [BDORDENES_LAB_HULE]    Script Date: 4/12/2018 00:31:28 ******/
CREATE DATABASE [BDORDENES_LAB_HULE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDORDENES_LAB_HULE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDORDENES_LAB_HULE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDORDENES_LAB_HULE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDORDENES_LAB_HULE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDORDENES_LAB_HULE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDORDENES_LAB_HULE]
GO
USE [BDORDENES_LAB_HULE]
GO
/****** Object:  Table [dbo].[TBCERRARORDEN]    Script Date: 4/12/2018 00:31:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCERRARORDEN](
	[IDCIERRE] [int] IDENTITY(1,1) NOT NULL,
	[IDORDEN] [int] NULL,
	[FECHAEJEC] [smalldatetime] NULL,
	[FECHACIERRE] [smalldatetime] NULL,
	[ESTADO] [varchar](20) NULL,
	[OBSERVACIONESCERRAR] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCIERRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBCREARORDEN]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCREARORDEN](
	[IDORDEN] [int] IDENTITY(1,1) NOT NULL,
	[FECHAORDEN] [smalldatetime] NULL,
	[SOLICITANTE] [varchar](50) NULL,
	[TIPOENSAYO] [varchar](100) NULL,
	[CANTMUESTRAS] [int] NULL,
	[TIPOMUESTRA] [varchar](20) NULL,
	[TIPOPRUEBA] [varchar](50) NULL,
	[RESPONSABLE] [varchar](100) NULL,
	[CLIENTE] [varchar](100) NULL,
	[TIPOCLIENTE] [varchar](20) NULL,
	[PRIORIDAD] [varchar](10) NULL,
	[PLAZO] [int] NULL,
	[FECHAESTFINAL] [smalldatetime] NULL,
	[OBSERVACIONESCREAR] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBCERRARORDEN] ON 

INSERT [dbo].[TBCERRARORDEN] ([IDCIERRE], [IDORDEN], [FECHAEJEC], [FECHACIERRE], [ESTADO], [OBSERVACIONESCERRAR]) VALUES (1, 1, CAST(N'2018-12-04T00:16:00' AS SmallDateTime), CAST(N'2018-12-04T00:14:00' AS SmallDateTime), N'Cerrado', N'No hay')
SET IDENTITY_INSERT [dbo].[TBCERRARORDEN] OFF
SET IDENTITY_INSERT [dbo].[TBCREARORDEN] ON 

INSERT [dbo].[TBCREARORDEN] ([IDORDEN], [FECHAORDEN], [SOLICITANTE], [TIPOENSAYO], [CANTMUESTRAS], [TIPOMUESTRA], [TIPOPRUEBA], [RESPONSABLE], [CLIENTE], [TIPOCLIENTE], [PRIORIDAD], [PLAZO], [FECHAESTFINAL], [OBSERVACIONESCREAR]) VALUES (1, CAST(N'2018-12-04T00:13:00' AS SmallDateTime), N'ADMIN', N'Gravedad Específica-Viscosidad', 1, N'Hule B', N'Desarrollo de hule', N'Carlos', N'Natalia', N'Interno', N'Alta', 1, CAST(N'2018-12-05T00:15:00' AS SmallDateTime), N'No hay')
INSERT [dbo].[TBCREARORDEN] ([IDORDEN], [FECHAORDEN], [SOLICITANTE], [TIPOENSAYO], [CANTMUESTRAS], [TIPOMUESTRA], [TIPOPRUEBA], [RESPONSABLE], [CLIENTE], [TIPOCLIENTE], [PRIORIDAD], [PLAZO], [FECHAESTFINAL], [OBSERVACIONESCREAR]) VALUES (2, CAST(N'2018-12-04T00:13:00' AS SmallDateTime), N'ADMIN', N'Gravedad Específica-Mancha-Viscosidad', 5, N'Hule C', N'Desarrollo de hule', N'Melissa', N'Elizabeth', N'Externo', N'Baja', 3, CAST(N'2018-12-07T00:16:00' AS SmallDateTime), N'No hay')
SET IDENTITY_INSERT [dbo].[TBCREARORDEN] OFF
/****** Object:  StoredProcedure [dbo].[BUSCAR_CERRARORDEN]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_CERRARORDEN]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@IDORDEN INT,
@MSJ VARCHAR(100) OUT

AS
	BEGIN
		IF (NOT EXISTS(SELECT * FROM TBCERRARORDEN WHERE IDORDEN=@IDORDEN))
			SET @MSJ = 'Orden de trabajo no se ha cerrado'
		ELSE
			BEGIN
				SELECT * FROM  TBCERRARORDEN WHERE IDORDEN=@IDORDEN
				SET @MSJ = 'Orden de trabajo encontrada'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_CERRARORDENESTAD]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_CERRARORDENESTAD]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@ESTADO VARCHAR (20),
@MSJ VARCHAR(100) OUT

AS
	BEGIN
		IF (NOT EXISTS(SELECT * FROM TBCERRARORDEN WHERE ESTADO=@ESTADO))
			SET @MSJ = 'Ninguna orden ha sido cerrada aún'
		ELSE
			BEGIN
				SELECT * FROM  TBCERRARORDEN AS TBC
				JOIN  TBCREARORDEN AS TBR ON TBC.IDORDEN = TBR.IDORDEN
				 WHERE (ESTADO IN (SELECT ESTADO FROM TBCERRARORDEN AS TMP GROUP BY ESTADO HAVING ESTADO = @ESTADO))
				SET @MSJ = 'Ordenes encontradas'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_CERRARORDENFECHCIERR]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_CERRARORDENFECHCIERR]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@FECHACIERREANT SMALLDATETIME,
@FECHACIERREDESP SMALLDATETIME,
@MSJ VARCHAR(100) OUT

AS
	BEGIN
		IF (NOT EXISTS(SELECT * FROM TBCERRARORDEN WHERE FECHACIERRE BETWEEN @FECHACIERREANT AND @FECHACIERREDESP))
			SET @MSJ = 'Ninguna orden ha sido cerrada aún'
		ELSE
			BEGIN
				SELECT * FROM  TBCERRARORDEN AS TBC
				JOIN  TBCREARORDEN AS TBR ON TBC.IDORDEN = TBR.IDORDEN
				 WHERE (FECHACIERRE IN (SELECT FECHACIERRE FROM TBCERRARORDEN AS TMP GROUP BY FECHACIERRE HAVING FECHACIERRE BETWEEN  @FECHACIERREANT AND @FECHACIERREDESP))
				SET @MSJ = 'Ordenes encontradas'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_CREARORDEN]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_CREARORDEN]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@IDORDEN INT,
@MSJ VARCHAR(100) OUT

AS
	BEGIN
		IF (NOT EXISTS(SELECT * FROM TBCREARORDEN WHERE IDORDEN=@IDORDEN))
			SET @MSJ = 'Orden de trabajo no existe'
		ELSE
			BEGIN
				SELECT * FROM  TBCREARORDEN WHERE IDORDEN=@IDORDEN
				SET @MSJ = 'Orden de trabajo encontrada'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_ORDEN]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_ORDEN]

AS
SELECT * FROM TBCREARORDEN WHERE IDORDEN = (SELECT MAX(IDORDEN) FROM TBCREARORDEN)
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_REPORTFECHORDEN]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_REPORTFECHORDEN]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@FECHAORDENANT SMALLDATETIME,
@FECHAORDENDESP SMALLDATETIME,
@MSJ VARCHAR(100) OUT

AS
	BEGIN
		IF (NOT EXISTS(SELECT * FROM TBCREARORDEN WHERE FECHAORDEN BETWEEN @FECHAORDENANT AND @FECHAORDENDESP))
			SET @MSJ = 'No hay registros para la fecha indicada'
		ELSE
			BEGIN
				SELECT * FROM  TBCREARORDEN AS TBR 
				JOIN  TBCERRARORDEN AS TBC ON TBR.IDORDEN = TBC.IDORDEN 
				 WHERE (FECHAORDEN IN (SELECT FECHAORDEN FROM TBCREARORDEN AS TMP GROUP BY FECHAORDEN HAVING FECHAORDEN BETWEEN @FECHAORDENANT AND @FECHAORDENDESP))
				SET @MSJ = 'Información encontrada'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_CERRARORDEN]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_CERRARORDEN]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@IDCIERRE INT OUT,
@IDORDEN INT, 
@FECHAEJEC SMALLDATETIME,
@FECHACIERRE SMALLDATETIME,
@ESTADO VARCHAR (20),
@OBSERVACIONESCERRAR VARCHAR(500),
@MENSAJE VARCHAR (100) OUT

AS 
	BEGIN
	      IF (EXISTS(SELECT * FROM TBCERRARORDEN WHERE IDORDEN=@IDORDEN))
			SET @MENSAJE = 'La orden ya fue cerrada'
		  ELSE
			BEGIN
				INSERT INTO TBCERRARORDEN(IDORDEN, FECHAEJEC, FECHACIERRE, ESTADO, OBSERVACIONESCERRAR)
				VALUES(@IDORDEN, @FECHAEJEC, @FECHACIERRE, @ESTADO, @OBSERVACIONESCERRAR)
				SELECT @IDCIERRE = IDENT_CURRENT('dbo.TBCERRARORDEN')
				SET @MENSAJE = 'Datos ingresados correctamente'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_CREARORDEN]    Script Date: 4/12/2018 00:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_CREARORDEN]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@IDORDEN INT OUT,
@FECHAORDEN SMALLDATETIME,
@SOLICITANTE VARCHAR (50),
@TIPOENSAYO VARCHAR (100),
@CANTMUESTRAS INT,
@TIPOMUESTRA VARCHAR (20),
@TIPOPRUEBA VARCHAR (50),
@RESPONSABLE VARCHAR (100),
@CLIENTE VARCHAR (100),
@TIPOCLIENTE VARCHAR (20),
@PRIORIDAD VARCHAR (10),
@PLAZO INT,
@FECHAESTFINAL SMALLDATETIME,
@OBSERVACIONESCREAR VARCHAR (500)

AS 
	BEGIN
			INSERT INTO TBCREARORDEN(FECHAORDEN, SOLICITANTE, TIPOENSAYO, CANTMUESTRAS, TIPOMUESTRA, TIPOPRUEBA, RESPONSABLE, CLIENTE, TIPOCLIENTE, PRIORIDAD, PLAZO, FECHAESTFINAL, OBSERVACIONESCREAR)
			VALUES(@FECHAORDEN, @SOLICITANTE, @TIPOENSAYO, @CANTMUESTRAS, @TIPOMUESTRA, @TIPOPRUEBA, @RESPONSABLE, @CLIENTE, @TIPOCLIENTE, @PRIORIDAD, @PLAZO, @FECHAESTFINAL, @OBSERVACIONESCREAR)
			SELECT @IDORDEN = IDENT_CURRENT('dbo.TBCREARORDEN')

	END
	
	
GO
USE [master]
GO
